body {
    background-image: url("Images/florence.jpeg");
    background-size: cover;         /* Adapte l’image à la taille du titre */
    background-position: center;    /* Centre l’image */
    color: white;                   /* Texte lisible */
    padding: 10px 0;             /* Espace autour du texte */                 /* Espace autour du texte */
    text-align: center;             /* Centrer le texte */
    border-radius: 10px;    
    background-repeat: no-repeat;
}
h1, h4 {
    text-align:center;
}
  